<div class="post">
    Comments on my Posts
    <table class="table table-bordered table-info table-primary">
        <tbody>
            <thead>
                <th> Filter Latest </th>
                <th> Comment </th>
                <th> Post </th>
                <th> Delete </th>
            </thead>

            {% for comment in comments %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.post.title}}</td>
                <td>
                    <a href="{{url_for('main.delete_comment', id = comment.id)}}"><i class="fa fa-trash-o"
                            style="color: red;"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>