{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block title %}
X-ZONE-D
{% endblock title %}

{% block main %}
<div class="container-fluid">
    <h1 class="text-center">TECH BLOGS</h1>
    <hr>
    <h6>
        <p class="typewrite text-center" data-period="6000" data-type='[ "{{quotes.quote}}, Author:{{quotes.quote}}" ]'>
            <span class="wrap"></span>
        </p>
    </h6>
    <div class="row">
        {{ macro.displayPosts(posts) }}
    </div>
</div>
{% endblock main %}