{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block main %}
<div class="row m-lg-5 text-white">
    <div class="col-md-3">
        <h5 class="card bg-black">
            <p class="text-white">Author: {{post.user.username}}</p>
        </h5>
        <div class="card">
            <!--Display preview photo-->
            {% if post.peek %}
            <img src="{{url_for('static',filename=post.peek)}}" alt="" class="img-fluid">
            {%else%}
            <img src="{{url_for('static',filename='photos/flask.jpg')}}" alt="" class="p-0.5" style="width: 100%;">  
            {% endif %}
            <div class="card-header text-black">{{post.title}}</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card-header">Title: {{post.title}}</div>
        <div class="card-body text-white">
            {{post.body}}
        </div>
    </div>

    <div class="col-md-3 container-fluid">
        <h1><strong>Comments</strong></h1>
        {% for comment in comments %}
        <div class="card-title"><em>{{comment.user.username}}</em></div>
        <div class="card m-auto p-1 text-black">
            {{comment.comment}}
        </div>
        Posted on:{{comment.posted_at.strftime("%d %b %Y")}}
        <br>
        {% endfor %}
    </div>

</div>
<div class="row m-lg-2 card ">
    <div class="col-md-4 text-black">
        {{wtf.quick_form(form)}}
    </div>
</div>
{% endblock main %}