<div class="modal" id="addImageModal{{post.id}}" tabindex="-1" aria-labelledby="addImageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addImageLabel">Add Preview Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <form action="{{url_for('main.preview_image', id=post.id)}}" method="post"
                        enctype="multipart/form-data">

                        <input type="file" name="img" class="form-control" required>
                        <input class="btn btn-dark" type="submit" value="Upload">
                    </form>
                </div>
            </div>
        </div>
    </div>